apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-deployment
  namespace: sge
  labels:
    app: server
spec:
  replicas: 1
  #strategy:
  #  type: RollingUpdate
  #  rollingUpdate:
  #    maxUnavailable: 1
  #    maxSurge: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
        - name: server
          image: cesar02dd/server:09ba6105c04d36981c0d7caa1ebf14de12937308
          ports:
            - containerPort: 8000
          resources:
            requests:
              cpu: "10m"  
              memory: "64Mi"  
            limits:
              cpu: "300m"  
              memory: "512Mi"  
          
