apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
  namespace: sge
  labels:
    app: client
spec:
  replicas: 1
  #strategy:
  #  type: RollingUpdate
  #  rollingUpdate:
  #    maxUnavailable: 1
  #    maxSurge: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: client
          image: ehxa/client:aa2a0f404167d0461eb45bfce05365d5254b1f39
          ports:
            - containerPort: 5173
          #env:
          #  - name: API_REGISTER_ENDPOINT
          #    value: "http://server"
          resources:
            requests:
              cpu: "10m"
              memory: "150Mi"
            limits:
              cpu: "300m"
              memory: "512Mi"

