apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
  namespace: sge
  labels:
    app: client
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: client
          image: cesar02dd/client:ad8c51f448d1f56b8150fb7aa9b7d39d7c2b3146
          ports:
            - containerPort: 5173
          env:
            - name: API_REGISTER_ENDPOINT
              value: "http://server"
          resources:
            requests:
              cpu: "10m"
              memory: "150Mi"
            limits:
              cpu: "100m"
              memory: "256Mi"

